.product-card{
    width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.product-image{
    width: 200px;
}
.product-title{
    display: flex;
    justify-content: center;
}