body{
    display: flex;
    justify-content: center;
}

.user{
    display: flex;
flex-direction: column;
    width: 200px;
}
.block{
    width: 200px;
    height: 200px;
    background: slategray;
    display: flex;
    align-items: center;
    justify-content: center;
}